---
layout: base
---
<div class="max-w-5xl mx-auto">
    <h1 class="text-2xl lg:text-3xl font-bold text-ferrari-red font-primary-font leading-tight mb-4">{{ title }}</h1>
    {{ content | safe }}
</div>
